@charset "UTF-8";

.image{
  background-image: url(../../image/coffee-background.jpg);
  height: 500px;
}

.q2, .q3, .q4{
  background-repeat: no-repeat;
}

.q3{
  background-position: center;
  background-size: cover;

}

.q4{
  background-position: center;
  background-size: contain;
}
