@charset "UTF-8";

.content{
  width: 500px;
  border: solid 5px #8f5a0a;
  border-radius: 30px;
  margin: 0 auto;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  background: #fad296;
  position: relative;
}
.content::before {
  content: "";
  position: absolute;
  top:100%;
  left: 25px;
  border: 25px solid transparent;
  border-top: 25px solid #8f5a0a;
}
.content::after{
  content:"";
  position: absolute;
  top:100%;
  left:25px;
  margin-top: -7px;
  border: 25px solid transparent;
  border-top: 25px solid #fad296;
}
.text{
  font-size: 16px;
  line-height: 16px;
}